.navbar {
    background-color: #d3d3d3;
   
}
.container-section {
    height: 200px;
    background-color: rgb(255, 208, 199);
    text-align: center;
    padding: 70px;
    margin: 5px;
}
footer {
    height: 100px;
    background-color: rgb(199, 255, 202);
    text-align: center;
    padding: 70px;
}